
{% extends "./base.html" %}
{% load static %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User Profile</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

<div class="row">
  <div class="col-md-3">
    <!-- Profile Image -->
    <div class="card border-left-info shadow">
      <div class="card-body">
        <div class="text-center">
          <img class="img-fluid img-circle mb-2" width="40%" height="40%"
            src="{% static 'core/img/undraw_profile_1.svg' %}"
            alt="User profile picture">
        </div>

        <h3 class="text-center">Daniel Ongom</h3>

        <p class="text-muted text-center">Software Engineer</p>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Followers</strong>
            <span class="badge badge-success badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Following</strong>
            <span class="badge badge-success badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Friends</strong>
            <span class="badge badge-success badge-pill">1</span>
          </li>
        </ul>


        <div class="text-center">
          <a href="#" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-pen"></i>
            </span>
            <span class="text">Edit Profile</span>
          </a>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <div class="col-md-9">
    <div class="card shadow border-bottom-primary">
      <div class="card-header text-primary">
        <h3 class="font-weight-bold">Information</h3>
      </div>
      <div class="card-body">

        <div class="text-center mb-4">
          <h4 class="text-gray-900">
            <span class="border-bottom-primary rounded font-weight-bold">User Details</span>
          </h4>
        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr/>
        
        <div class="text-center mb-4">
          <h4 class="text-gray-900">
            <span class="border-bottom-primary rounded font-weight-bold">Previous History</span>
          </h4>
        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}
