
{% extends "./base.html" %}
{% load static %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i>
        Generate Report
    </a>

</div>

<!-- Content Row -->

<div class="row">

    <!-- Temperature Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                            Temperature</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-900">
                            <span>
                                {% if data %}
                                {{data.field1}}
                                {% endif %}&#176;</span>C
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-temperature-high fa-2x text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Body Temperature Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text font-weight-bold text-success text-uppercase mb-1">
                            Body Temperature</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <span>
                                {% if data %}
                                {{data.field6}}
                                {% endif %}&#176;</span>C
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa fa-thermometer-three-quarters fa-2x text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Oxygen Saturation Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-s font-weight-bold text-info mb-1">
                            Oxygen Saturation (SpO<sub>2</sub>)
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    
                                    <span>
                                        {% if data %}
                                        {{data.field4}}
                                        {% endif %}
                                    </span>bpm
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa fa-heartbeat fa-2x text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Relative Humidity Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-s font-weight-bold text-warning text-uppercase mb-1">
                            Relative Humidity</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {% if data %}
                            {{data.field2}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-medkit fa-2x text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Daily Temperature</h5>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Previous Day</a>
                        <a class="dropdown-item" href="#">Today</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Weekly</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Oxygen Saturation</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Body Temperature</h5>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Periods:</div>
                        <a class="dropdown-item" href="#">Previous Day</a>
                        <a class="dropdown-item" href="#">Today</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Weekly</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_scripts %}
<script>
    const lineChart = document.getElementById('myChart');
    const pieChart = document.getElementById('pieChart');
    const barChart = document.getElementById('barChart');

    let temp_data = [];
    let oxygen_data = [];
    let time_data = [];
    let body_temp = [];

    function format_time(time) {
        const date = new Date(time)
        // console.log("Hours:", date.getHours()-3, " Minutes:", date.getMinutes(), " Seconds:", date.getSeconds());
        // console.log("Date:", date.getDate(), " Day:", date.getDay(), " Year:", date.getFullYear());
        return date.getHours()-3 + ":" + date.getMinutes() + ":" + date.getSeconds()
    }

    async function send_sms(message, number) {
        
        // const url = 'http://127.0.0.1:8000/core/send_sms/';
        const url = 'http://gnome.mak.ac.ug/send_sms/';
        const method = "POST";
        const contentType = "application/json";
        const accept = "application/json";

        const csrftoken = getToken('csrftoken');
        console.log("Index CSRFToken:", csrftoken);

        const body = {
            messages: message,
            numbers: number
        }
        console.log("Data Body:", body);
        let response = await fetch(url, {
            method: method,
            body: JSON.stringify({'messages': message, 'numbers': number}),
            headers: {
                'Content-Type': contentType,
                'X-CSRFToken': csrftoken
            }
        });

        let response_data = await response.json();

        console.log("Response:", response_data);

    }


    async function getPatient() {
        
        const url = 'core/patient/';
        const contentType = "application/json";
        const accept = "application/json";
        
        let response = await fetch(url);

        let response_data = await response.json();

        console.log("Response:", response_data);

    }


    async function fetch_data() {

        // read our JSON
        const url = 'https://api.thingspeak.com/channels/1596329/feeds.json?api_key=PY5EDT094TON962X&results=10';
        let response = await fetch(url);
        let data = await response.json();

        for (let i = 0; i < data.feeds.length; i++) {
            let datum;
            if(data.feeds[i].field1) {
                datum = parseFloat(data.feeds[i].field1);
            }
            else {
                datum = 0;
            }

            let datum2;

            if(data.feeds[i].field6) {
                datum2 = parseFloat(data.feeds[i].field6);
            }
            else {
                datum2 = 0;
            }

            let datum1;

            if(data.feeds[i].field4) {
                datum1 = parseFloat(data.feeds[i].field4);
            }
            else {
                datum1 = 0;
            }

            if ((datum2 !== 0) && (datum2 < 30 || datum2 > 37)) {
                const message = "iDwaliro ALERTS!!!! \nAbnormal Condition Detected: \nBody Temperature: " + datum2 + " \nPatient ID:";
                const number = "256776499859,256771813487";

                console.log("SMS Message:", message, " Phone:", number);
                const response = send_sms(message, number)
                console.log("Send SMS Response:", response);
            }

            temp_data.push(datum);
            body_temp.push(datum2);
            oxygen_data.push(datum1);
            time_data.push(format_time(data.feeds[i].created_at));
        }
            
        const myChart = new Chart(lineChart, {
            type: 'line',
            data: {
                labels: time_data,
                datasets: [{
                    label: 'Temperature',
                    data: temp_data,
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'time'
                        },
                        gridLines: {
                            display: true,
                            drawBorder: true
                        },
                        ticks: {
                            maxTicksLimit: 20
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 20,
                            max: 30,
                            maxTicksLimit: 10,
                            padding: 5,
                            // Include a dollar sign in the ticks
                            // callback: function(value, index, values) {
                            //     return '$' + number_format(value);
                            // }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    // callbacks: {
                    //     label: function(tooltipItem, chart) {
                    //         var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                    //         return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                    //     }
                    // }
                }
            }
        });

        const myPieChart = new Chart(pieChart, {
            type: 'doughnut',
            data: {
                labels: time_data,
                datasets: [{
                    label: "Oxygen Level",
                    data: oxygen_data,
                    backgroundColor: [
                        'rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)','#4e73df',
                        '#1cc88a', '#36b9cc', '#4e52df', '#1cd88a', '#36b9dc','#4e73df'
                    ],
                    hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            hoverOffset: 4,
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
                legend: {
                    display: false
                },
            },
        });

        const myBarChart = new Chart(barChart, {
            type: 'bar',
            data: {
                labels: time_data,
                datasets: [{
                    label: "Body Temperature",
                    backgroundColor: "#4e73df",
                    hoverBackgroundColor: "#2e59d9",
                    borderColor: "#4e73df",
                    data: body_temp,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'minute'
                        },
                        gridLines: {
                            display: true,
                            drawBorder: true
                        },
                        ticks: {
                            maxTicksLimit: 10
                        },
                        maxBarThickness: 25,
                    }],
                    yAxes: [{
                        ticks: {
                            min: 30,
                            max: 37,
                            maxTicksLimit: 10,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            // callback: function(value, index, values) {
                            //     return '$' + number_format(value);
                            // }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    // callbacks: {
                    //     label: function(tooltipItem, chart) {
                    //         var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                    //         return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                    //     }
                    // }
                },
            }
        });


    }

    fetch_data();

</script>
{% endblock %}

